.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: env(safe-area-inset-bottom);
  position: relative;
}

.pageContainer {
  display: block;
}

.pageContainer.hidden {
  display: none;
}
