.jobRow {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25rem;
  align-items: center;
}

.jobName {
  height: 1.5rem;
  width: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  color: white;
}

.jobName[data-category="basic"] {
  background-color: #e74c3c; /* やや明るい赤 */
}

.jobName[data-category="advanced"] {
  background-color: #3498db; /* やや明るい青 */
}

.jobName[data-category="special"] {
  background-color: #9b59b6; /* やや明るい紫 */
}
